<%- include("partials/header.ejs") %>
<div class="body">
        <div class="px-4 pt-3 my-4 text-center border-bottom">
            <h1 class="display-4 fw-bold ">NewSnips</h1>
            <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Your Snippet News Destination! Stay up-to-date with concise, curated, and easy-to-read headlines. Discover the latest in business, entertainment, tech, and more. Get the essential news in bite-sized snippets, perfect for busy readers on the go. Experience quick updates without compromising on accurate and credible reporting. Welcome to NewSnips!</p>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="images/news.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Made with ❤️ Mythri</p>
    </footer>
